.venv/
local/
vaultpass
*tmp*
*copy*
terraform/proxmox/.terraform/providers/registry.terraform.io/bpg/proxmox/0.71.0/linux_amd64/CHANGELOG.md
terraform/proxmox/.terraform/providers/registry.terraform.io/bpg/proxmox/0.71.0/linux_amd64/LICENSE
terraform/proxmox/.terraform/providers/registry.terraform.io/bpg/proxmox/0.71.0/linux_amd64/README.md
terraform/proxmox/.terraform/providers/registry.terraform.io/bpg/proxmox/0.71.0/linux_amd64/terraform-provider-proxmox_v0.71.0
