[defaults]
inventory = inventory/inventory.yml  ; This points to the file that lists your hosts
roles_path = roles/ ; This points to the directory that holds your custom roles
vault_password_file = ./vaultpass